failed to get console mode for stdout: The handle is invalid.
--
-- PostgreSQL database dump
--

-- Dumped from database version 15.13 (Debian 15.13-1.pgdg120+1)
-- Dumped by pg_dump version 15.13 (Debian 15.13-1.pgdg120+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: auth; Type: SCHEMA; Schema: -; Owner: user
--

CREATE SCHEMA auth;


ALTER SCHEMA auth OWNER TO "user";

--
-- Name: client_store; Type: SCHEMA; Schema: -; Owner: user
--

CREATE SCHEMA client_store;


ALTER SCHEMA client_store OWNER TO "user";

--
-- Name: payment; Type: SCHEMA; Schema: -; Owner: user
--

CREATE SCHEMA payment;


ALTER SCHEMA payment OWNER TO "user";

--
-- Name: rider; Type: SCHEMA; Schema: -; Owner: user
--

CREATE SCHEMA rider;


ALTER SCHEMA rider OWNER TO "user";

--
-- Name: team; Type: SCHEMA; Schema: -; Owner: user
--

CREATE SCHEMA team;


ALTER SCHEMA team OWNER TO "user";

--
-- Name: vehicle; Type: SCHEMA; Schema: -; Owner: user
--

CREATE SCHEMA vehicle;


ALTER SCHEMA vehicle OWNER TO "user";

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: auth; Owner: user
--

CREATE TABLE auth._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE auth._prisma_migrations OWNER TO "user";

--
-- Name: _prisma_migrations; Type: TABLE; Schema: team; Owner: user
--

CREATE TABLE team._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE team._prisma_migrations OWNER TO "user";

--
-- Name: _prisma_migrations; Type: TABLE; Schema: vehicle; Owner: user
--

CREATE TABLE vehicle._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE vehicle._prisma_migrations OWNER TO "user";

--
-- Name: damage_media; Type: TABLE; Schema: vehicle; Owner: user
--

CREATE TABLE vehicle.damage_media (
    id text NOT NULL,
    "damageRecordId" text NOT NULL,
    "fileName" text NOT NULL,
    "fileUrl" text NOT NULL,
    "fileType" text NOT NULL,
    "fileSize" integer NOT NULL,
    "mediaType" text NOT NULL,
    description text,
    "uploadDate" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE vehicle.damage_media OWNER TO "user";

--
-- Name: damage_records; Type: TABLE; Schema: vehicle; Owner: user
--

CREATE TABLE vehicle.damage_records (
    id text NOT NULL,
    "vehicleId" text NOT NULL,
    "damageType" text NOT NULL,
    severity text NOT NULL,
    description text NOT NULL,
    "damageDate" timestamp(3) without time zone NOT NULL,
    "reportedDate" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "damageLocation" text,
    "incidentLocation" text,
    "weatherConditions" text,
    "reportedBy" text NOT NULL,
    "witnessDetails" text,
    "policeReport" boolean DEFAULT false NOT NULL,
    "policeReportNumber" text,
    "resolutionStatus" text DEFAULT 'Reported'::text NOT NULL,
    "estimatedCost" double precision,
    "actualCost" double precision,
    "repairDate" timestamp(3) without time zone,
    "repairDetails" text,
    "insuranceClaim" boolean DEFAULT false NOT NULL,
    "claimNumber" text,
    "claimStatus" text,
    "claimAmount" double precision,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE vehicle.damage_records OWNER TO "user";

--
-- Name: fleet_analytics; Type: TABLE; Schema: vehicle; Owner: user
--

CREATE TABLE vehicle.fleet_analytics (
    id text NOT NULL,
    "periodType" text NOT NULL,
    "periodDate" timestamp(3) without time zone NOT NULL,
    "totalVehicles" integer DEFAULT 0 NOT NULL,
    "activeVehicles" integer DEFAULT 0 NOT NULL,
    "vehiclesUnderService" integer DEFAULT 0 NOT NULL,
    "damagedVehicles" integer DEFAULT 0 NOT NULL,
    "utilizationRate" double precision DEFAULT 0.0 NOT NULL,
    "averageMileage" double precision DEFAULT 0.0 NOT NULL,
    "totalRevenue" double precision DEFAULT 0.0 NOT NULL,
    "maintenanceCosts" double precision DEFAULT 0.0 NOT NULL,
    "damageCosts" double precision DEFAULT 0.0 NOT NULL,
    "insuranceCosts" double precision DEFAULT 0.0 NOT NULL,
    "averageServiceTime" double precision DEFAULT 0.0 NOT NULL,
    "averageRepairTime" double precision DEFAULT 0.0 NOT NULL,
    "customerSatisfaction" double precision DEFAULT 0.0 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE vehicle.fleet_analytics OWNER TO "user";

--
-- Name: handover_media; Type: TABLE; Schema: vehicle; Owner: user
--

CREATE TABLE vehicle.handover_media (
    id text NOT NULL,
    "handoverRecordId" text NOT NULL,
    "fileName" text NOT NULL,
    "fileUrl" text NOT NULL,
    "fileType" text NOT NULL,
    "fileSize" integer NOT NULL,
    "photoType" text NOT NULL,
    description text,
    "gpsLatitude" double precision,
    "gpsLongitude" double precision,
    "uploadDate" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE vehicle.handover_media OWNER TO "user";

--
-- Name: handover_records; Type: TABLE; Schema: vehicle; Owner: user
--

CREATE TABLE vehicle.handover_records (
    id text NOT NULL,
    "vehicleId" text NOT NULL,
    "handoverType" text NOT NULL,
    "riderId" text NOT NULL,
    "handoverDate" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "mileageReading" integer,
    "batteryPercentage" integer,
    "fuelLevel" integer,
    "overallCondition" text NOT NULL,
    "exteriorCondition" text NOT NULL,
    "interiorCondition" text NOT NULL,
    "mechanicalCondition" text NOT NULL,
    "issuesReported" text,
    "photosUploaded" boolean DEFAULT false NOT NULL,
    "handoverLocation" text,
    "gpsLatitude" double precision,
    "gpsLongitude" double precision,
    "verifiedBy" text,
    "verificationDate" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE vehicle.handover_records OWNER TO "user";

--
-- Name: insurance_details; Type: TABLE; Schema: vehicle; Owner: user
--

CREATE TABLE vehicle.insurance_details (
    id text NOT NULL,
    "vehicleId" text NOT NULL,
    "insuranceType" text NOT NULL,
    "providerName" text NOT NULL,
    "policyNumber" text NOT NULL,
    "policyStartDate" timestamp(3) without time zone NOT NULL,
    "policyEndDate" timestamp(3) without time zone NOT NULL,
    "premiumAmount" double precision NOT NULL,
    "coverageAmount" double precision NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "renewalReminder" boolean DEFAULT true NOT NULL,
    "policyPhotoUrl" text,
    "policyUploadDate" timestamp(3) without time zone,
    "verificationStatus" text DEFAULT 'Pending'::text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE vehicle.insurance_details OWNER TO "user";

--
-- Name: oems; Type: TABLE; Schema: vehicle; Owner: user
--

CREATE TABLE vehicle.oems (
    id text NOT NULL,
    name text NOT NULL,
    "displayName" text NOT NULL,
    code text NOT NULL,
    country text,
    website text,
    "supportEmail" text,
    "supportPhone" text,
    gstin text,
    "panNumber" text,
    "registeredAddress" text,
    "logoUrl" text,
    "brandColor" text,
    description text,
    "isActive" boolean DEFAULT true NOT NULL,
    "isPreferred" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE vehicle.oems OWNER TO "user";

--
-- Name: rc_details; Type: TABLE; Schema: vehicle; Owner: user
--

CREATE TABLE vehicle.rc_details (
    id text NOT NULL,
    "vehicleId" text NOT NULL,
    "rcNumber" text NOT NULL,
    "ownerName" text NOT NULL,
    "ownerAddress" text NOT NULL,
    "registrationDate" timestamp(3) without time zone NOT NULL,
    "validUpto" timestamp(3) without time zone,
    "fuelType" text DEFAULT 'Electric'::text NOT NULL,
    "seatingCapacity" integer,
    "rcPhotoUrl" text,
    "rcUploadDate" timestamp(3) without time zone,
    "rcVerificationStatus" text DEFAULT 'Pending'::text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE vehicle.rc_details OWNER TO "user";

--
-- Name: service_media; Type: TABLE; Schema: vehicle; Owner: user
--

CREATE TABLE vehicle.service_media (
    id text NOT NULL,
    "serviceRecordId" text NOT NULL,
    "fileName" text NOT NULL,
    "fileUrl" text NOT NULL,
    "fileType" text NOT NULL,
    "fileSize" integer NOT NULL,
    "mediaType" text NOT NULL,
    description text,
    "uploadDate" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE vehicle.service_media OWNER TO "user";

--
-- Name: service_records; Type: TABLE; Schema: vehicle; Owner: user
--

CREATE TABLE vehicle.service_records (
    id text NOT NULL,
    "vehicleId" text NOT NULL,
    "serviceType" text NOT NULL,
    "serviceDate" timestamp(3) without time zone NOT NULL,
    description text NOT NULL,
    "issueReported" text,
    "workPerformed" text NOT NULL,
    "mechanicName" text,
    "serviceCenter" text,
    "laborCost" double precision DEFAULT 0.0 NOT NULL,
    "partsCost" double precision DEFAULT 0.0 NOT NULL,
    "totalCost" double precision DEFAULT 0.0 NOT NULL,
    "partsReplaced" text,
    "serviceStatus" text DEFAULT 'Completed'::text NOT NULL,
    "nextServiceDue" timestamp(3) without time zone,
    "mileageAtService" integer,
    "qualityRating" integer,
    "serviceNotes" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE vehicle.service_records OWNER TO "user";

--
-- Name: vehicle_media; Type: TABLE; Schema: vehicle; Owner: user
--

CREATE TABLE vehicle.vehicle_media (
    id text NOT NULL,
    "vehicleId" text NOT NULL,
    "fileName" text NOT NULL,
    "fileUrl" text NOT NULL,
    "fileType" text NOT NULL,
    "fileSize" integer NOT NULL,
    "mediaType" text NOT NULL,
    "mediaCategory" text NOT NULL,
    description text,
    "uploadedBy" text NOT NULL,
    "uploadDate" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    source text NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    tags text
);


ALTER TABLE vehicle.vehicle_media OWNER TO "user";

--
-- Name: vehicle_models; Type: TABLE; Schema: vehicle; Owner: user
--

CREATE TABLE vehicle.vehicle_models (
    id text NOT NULL,
    "oemId" text NOT NULL,
    name text NOT NULL,
    "displayName" text NOT NULL,
    "modelCode" text NOT NULL,
    category text NOT NULL,
    segment text NOT NULL,
    "launchYear" integer,
    "discontinuedYear" integer,
    "vehicleType" text DEFAULT '2-Wheeler'::text NOT NULL,
    "fuelType" text NOT NULL,
    "engineCapacity" text,
    "batteryType" text,
    "batteryCapacity" text,
    "maxSpeed" integer,
    range integer,
    "chargingTime" text,
    "seatingCapacity" integer DEFAULT 2 NOT NULL,
    weight double precision,
    dimensions text,
    "availableVariants" text,
    "availableColors" text,
    "standardFeatures" text,
    "optionalFeatures" text,
    "basePrice" double precision,
    "priceRange" text,
    "serviceInterval" integer,
    "warrantyPeriod" integer,
    "spareParts" text,
    "imageUrl" text,
    "brochureUrl" text,
    "isActive" boolean DEFAULT true NOT NULL,
    "isPopular" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE vehicle.vehicle_models OWNER TO "user";

--
-- Name: vehicle_status_history; Type: TABLE; Schema: vehicle; Owner: user
--

CREATE TABLE vehicle.vehicle_status_history (
    id text NOT NULL,
    "vehicleId" text NOT NULL,
    "previousStatus" text,
    "newStatus" text NOT NULL,
    "changeReason" text,
    "changedBy" text NOT NULL,
    "changeDate" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    notes text,
    "relatedRecordType" text,
    "relatedRecordId" text
);


ALTER TABLE vehicle.vehicle_status_history OWNER TO "user";

--
-- Name: vehicles; Type: TABLE; Schema: vehicle; Owner: user
--

CREATE TABLE vehicle.vehicles (
    id text NOT NULL,
    "modelId" text NOT NULL,
    "registrationNumber" text NOT NULL,
    "chassisNumber" text,
    "engineNumber" text,
    variant text,
    color text NOT NULL,
    year integer,
    "vehicleType" text,
    "batteryType" text,
    "batteryCapacity" double precision,
    "maxRange" integer,
    "maxSpeed" integer,
    "purchaseDate" timestamp(3) without time zone,
    "registrationDate" timestamp(3) without time zone NOT NULL,
    "purchasePrice" double precision,
    "currentValue" double precision,
    "ageInMonths" integer,
    "fleetOperatorId" text,
    "currentRiderId" text,
    "assignmentDate" timestamp(3) without time zone,
    "operationalStatus" text DEFAULT 'Available'::text NOT NULL,
    "serviceStatus" text DEFAULT 'Active'::text NOT NULL,
    location text,
    mileage integer DEFAULT 0 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE vehicle.vehicles OWNER TO "user";

--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: auth; Owner: user
--

COPY auth._prisma_migrations (id, checksum, finished_at, migration_name, logs, rolled_back_at, started_at, applied_steps_count) FROM stdin;
\.


--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: team; Owner: user
--

COPY team._prisma_migrations (id, checksum, finished_at, migration_name, logs, rolled_back_at, started_at, applied_steps_count) FROM stdin;
\.


--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: vehicle; Owner: user
--

COPY vehicle._prisma_migrations (id, checksum, finished_at, migration_name, logs, rolled_back_at, started_at, applied_steps_count) FROM stdin;
558038e3-2998-4987-a9f5-fb2ba0f4d0e7	b810c53dbab3517d6ce2f340aed7c97660a74b9b947199a18ff8ee7f818612e7	2025-08-02 07:43:10.164832+00	20250802074309_init	\N	\N	2025-08-02 07:43:09.754377+00	1
\.


--
-- Data for Name: damage_media; Type: TABLE DATA; Schema: vehicle; Owner: user
--

COPY vehicle.damage_media (id, "damageRecordId", "fileName", "fileUrl", "fileType", "fileSize", "mediaType", description, "uploadDate") FROM stdin;
\.


--
-- Data for Name: damage_records; Type: TABLE DATA; Schema: vehicle; Owner: user
--

COPY vehicle.damage_records (id, "vehicleId", "damageType", severity, description, "damageDate", "reportedDate", "damageLocation", "incidentLocation", "weatherConditions", "reportedBy", "witnessDetails", "policeReport", "policeReportNumber", "resolutionStatus", "estimatedCost", "actualCost", "repairDate", "repairDetails", "insuranceClaim", "claimNumber", "claimStatus", "claimAmount", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: fleet_analytics; Type: TABLE DATA; Schema: vehicle; Owner: user
--

COPY vehicle.fleet_analytics (id, "periodType", "periodDate", "totalVehicles", "activeVehicles", "vehiclesUnderService", "damagedVehicles", "utilizationRate", "averageMileage", "totalRevenue", "maintenanceCosts", "damageCosts", "insuranceCosts", "averageServiceTime", "averageRepairTime", "customerSatisfaction", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: handover_media; Type: TABLE DATA; Schema: vehicle; Owner: user
--

COPY vehicle.handover_media (id, "handoverRecordId", "fileName", "fileUrl", "fileType", "fileSize", "photoType", description, "gpsLatitude", "gpsLongitude", "uploadDate") FROM stdin;
\.


--
-- Data for Name: handover_records; Type: TABLE DATA; Schema: vehicle; Owner: user
--

COPY vehicle.handover_records (id, "vehicleId", "handoverType", "riderId", "handoverDate", "mileageReading", "batteryPercentage", "fuelLevel", "overallCondition", "exteriorCondition", "interiorCondition", "mechanicalCondition", "issuesReported", "photosUploaded", "handoverLocation", "gpsLatitude", "gpsLongitude", "verifiedBy", "verificationDate", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: insurance_details; Type: TABLE DATA; Schema: vehicle; Owner: user
--

COPY vehicle.insurance_details (id, "vehicleId", "insuranceType", "providerName", "policyNumber", "policyStartDate", "policyEndDate", "premiumAmount", "coverageAmount", "isActive", "renewalReminder", "policyPhotoUrl", "policyUploadDate", "verificationStatus", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: oems; Type: TABLE DATA; Schema: vehicle; Owner: user
--

COPY vehicle.oems (id, name, "displayName", code, country, website, "supportEmail", "supportPhone", gstin, "panNumber", "registeredAddress", "logoUrl", "brandColor", description, "isActive", "isPreferred", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: rc_details; Type: TABLE DATA; Schema: vehicle; Owner: user
--

COPY vehicle.rc_details (id, "vehicleId", "rcNumber", "ownerName", "ownerAddress", "registrationDate", "validUpto", "fuelType", "seatingCapacity", "rcPhotoUrl", "rcUploadDate", "rcVerificationStatus", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: service_media; Type: TABLE DATA; Schema: vehicle; Owner: user
--

COPY vehicle.service_media (id, "serviceRecordId", "fileName", "fileUrl", "fileType", "fileSize", "mediaType", description, "uploadDate") FROM stdin;
\.


--
-- Data for Name: service_records; Type: TABLE DATA; Schema: vehicle; Owner: user
--

COPY vehicle.service_records (id, "vehicleId", "serviceType", "serviceDate", description, "issueReported", "workPerformed", "mechanicName", "serviceCenter", "laborCost", "partsCost", "totalCost", "partsReplaced", "serviceStatus", "nextServiceDue", "mileageAtService", "qualityRating", "serviceNotes", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: vehicle_media; Type: TABLE DATA; Schema: vehicle; Owner: user
--

COPY vehicle.vehicle_media (id, "vehicleId", "fileName", "fileUrl", "fileType", "fileSize", "mediaType", "mediaCategory", description, "uploadedBy", "uploadDate", source, "isActive", tags) FROM stdin;
\.


--
-- Data for Name: vehicle_models; Type: TABLE DATA; Schema: vehicle; Owner: user
--

COPY vehicle.vehicle_models (id, "oemId", name, "displayName", "modelCode", category, segment, "launchYear", "discontinuedYear", "vehicleType", "fuelType", "engineCapacity", "batteryType", "batteryCapacity", "maxSpeed", range, "chargingTime", "seatingCapacity", weight, dimensions, "availableVariants", "availableColors", "standardFeatures", "optionalFeatures", "basePrice", "priceRange", "serviceInterval", "warrantyPeriod", "spareParts", "imageUrl", "brochureUrl", "isActive", "isPopular", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: vehicle_status_history; Type: TABLE DATA; Schema: vehicle; Owner: user
--

COPY vehicle.vehicle_status_history (id, "vehicleId", "previousStatus", "newStatus", "changeReason", "changedBy", "changeDate", notes, "relatedRecordType", "relatedRecordId") FROM stdin;
\.


--
-- Data for Name: vehicles; Type: TABLE DATA; Schema: vehicle; Owner: user
--

COPY vehicle.vehicles (id, "modelId", "registrationNumber", "chassisNumber", "engineNumber", variant, color, year, "vehicleType", "batteryType", "batteryCapacity", "maxRange", "maxSpeed", "purchaseDate", "registrationDate", "purchasePrice", "currentValue", "ageInMonths", "fleetOperatorId", "currentRiderId", "assignmentDate", "operationalStatus", "serviceStatus", location, mileage, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: auth; Owner: user
--

ALTER TABLE ONLY auth._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: team; Owner: user
--

ALTER TABLE ONLY team._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: vehicle; Owner: user
--

ALTER TABLE ONLY vehicle._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: damage_media damage_media_pkey; Type: CONSTRAINT; Schema: vehicle; Owner: user
--

ALTER TABLE ONLY vehicle.damage_media
    ADD CONSTRAINT damage_media_pkey PRIMARY KEY (id);


--
-- Name: damage_records damage_records_pkey; Type: CONSTRAINT; Schema: vehicle; Owner: user
--

ALTER TABLE ONLY vehicle.damage_records
    ADD CONSTRAINT damage_records_pkey PRIMARY KEY (id);


--
-- Name: fleet_analytics fleet_analytics_pkey; Type: CONSTRAINT; Schema: vehicle; Owner: user
--

ALTER TABLE ONLY vehicle.fleet_analytics
    ADD CONSTRAINT fleet_analytics_pkey PRIMARY KEY (id);


--
-- Name: handover_media handover_media_pkey; Type: CONSTRAINT; Schema: vehicle; Owner: user
--

ALTER TABLE ONLY vehicle.handover_media
    ADD CONSTRAINT handover_media_pkey PRIMARY KEY (id);


--
-- Name: handover_records handover_records_pkey; Type: CONSTRAINT; Schema: vehicle; Owner: user
--

ALTER TABLE ONLY vehicle.handover_records
    ADD CONSTRAINT handover_records_pkey PRIMARY KEY (id);


--
-- Name: insurance_details insurance_details_pkey; Type: CONSTRAINT; Schema: vehicle; Owner: user
--

ALTER TABLE ONLY vehicle.insurance_details
    ADD CONSTRAINT insurance_details_pkey PRIMARY KEY (id);


--
-- Name: oems oems_pkey; Type: CONSTRAINT; Schema: vehicle; Owner: user
--

ALTER TABLE ONLY vehicle.oems
    ADD CONSTRAINT oems_pkey PRIMARY KEY (id);


--
-- Name: rc_details rc_details_pkey; Type: CONSTRAINT; Schema: vehicle; Owner: user
--

ALTER TABLE ONLY vehicle.rc_details
    ADD CONSTRAINT rc_details_pkey PRIMARY KEY (id);


--
-- Name: service_media service_media_pkey; Type: CONSTRAINT; Schema: vehicle; Owner: user
--

ALTER TABLE ONLY vehicle.service_media
    ADD CONSTRAINT service_media_pkey PRIMARY KEY (id);


--
-- Name: service_records service_records_pkey; Type: CONSTRAINT; Schema: vehicle; Owner: user
--

ALTER TABLE ONLY vehicle.service_records
    ADD CONSTRAINT service_records_pkey PRIMARY KEY (id);


--
-- Name: vehicle_media vehicle_media_pkey; Type: CONSTRAINT; Schema: vehicle; Owner: user
--

ALTER TABLE ONLY vehicle.vehicle_media
    ADD CONSTRAINT vehicle_media_pkey PRIMARY KEY (id);


--
-- Name: vehicle_models vehicle_models_pkey; Type: CONSTRAINT; Schema: vehicle; Owner: user
--

ALTER TABLE ONLY vehicle.vehicle_models
    ADD CONSTRAINT vehicle_models_pkey PRIMARY KEY (id);


--
-- Name: vehicle_status_history vehicle_status_history_pkey; Type: CONSTRAINT; Schema: vehicle; Owner: user
--

ALTER TABLE ONLY vehicle.vehicle_status_history
    ADD CONSTRAINT vehicle_status_history_pkey PRIMARY KEY (id);


--
-- Name: vehicles vehicles_pkey; Type: CONSTRAINT; Schema: vehicle; Owner: user
--

ALTER TABLE ONLY vehicle.vehicles
    ADD CONSTRAINT vehicles_pkey PRIMARY KEY (id);


--
-- Name: fleet_analytics_periodType_periodDate_key; Type: INDEX; Schema: vehicle; Owner: user
--

CREATE UNIQUE INDEX "fleet_analytics_periodType_periodDate_key" ON vehicle.fleet_analytics USING btree ("periodType", "periodDate");


--
-- Name: insurance_details_policyNumber_key; Type: INDEX; Schema: vehicle; Owner: user
--

CREATE UNIQUE INDEX "insurance_details_policyNumber_key" ON vehicle.insurance_details USING btree ("policyNumber");


--
-- Name: oems_code_key; Type: INDEX; Schema: vehicle; Owner: user
--

CREATE UNIQUE INDEX oems_code_key ON vehicle.oems USING btree (code);


--
-- Name: oems_name_key; Type: INDEX; Schema: vehicle; Owner: user
--

CREATE UNIQUE INDEX oems_name_key ON vehicle.oems USING btree (name);


--
-- Name: rc_details_rcNumber_key; Type: INDEX; Schema: vehicle; Owner: user
--

CREATE UNIQUE INDEX "rc_details_rcNumber_key" ON vehicle.rc_details USING btree ("rcNumber");


--
-- Name: rc_details_vehicleId_key; Type: INDEX; Schema: vehicle; Owner: user
--

CREATE UNIQUE INDEX "rc_details_vehicleId_key" ON vehicle.rc_details USING btree ("vehicleId");


--
-- Name: vehicle_models_oemId_modelCode_key; Type: INDEX; Schema: vehicle; Owner: user
--

CREATE UNIQUE INDEX "vehicle_models_oemId_modelCode_key" ON vehicle.vehicle_models USING btree ("oemId", "modelCode");


--
-- Name: vehicles_chassisNumber_key; Type: INDEX; Schema: vehicle; Owner: user
--

CREATE UNIQUE INDEX "vehicles_chassisNumber_key" ON vehicle.vehicles USING btree ("chassisNumber");


--
-- Name: vehicles_engineNumber_key; Type: INDEX; Schema: vehicle; Owner: user
--

CREATE UNIQUE INDEX "vehicles_engineNumber_key" ON vehicle.vehicles USING btree ("engineNumber");


--
-- Name: vehicles_registrationNumber_key; Type: INDEX; Schema: vehicle; Owner: user
--

CREATE UNIQUE INDEX "vehicles_registrationNumber_key" ON vehicle.vehicles USING btree ("registrationNumber");


--
-- Name: damage_media damage_media_damageRecordId_fkey; Type: FK CONSTRAINT; Schema: vehicle; Owner: user
--

ALTER TABLE ONLY vehicle.damage_media
    ADD CONSTRAINT "damage_media_damageRecordId_fkey" FOREIGN KEY ("damageRecordId") REFERENCES vehicle.damage_records(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: damage_records damage_records_vehicleId_fkey; Type: FK CONSTRAINT; Schema: vehicle; Owner: user
--

ALTER TABLE ONLY vehicle.damage_records
    ADD CONSTRAINT "damage_records_vehicleId_fkey" FOREIGN KEY ("vehicleId") REFERENCES vehicle.vehicles(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: handover_media handover_media_handoverRecordId_fkey; Type: FK CONSTRAINT; Schema: vehicle; Owner: user
--

ALTER TABLE ONLY vehicle.handover_media
    ADD CONSTRAINT "handover_media_handoverRecordId_fkey" FOREIGN KEY ("handoverRecordId") REFERENCES vehicle.handover_records(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: handover_records handover_records_vehicleId_fkey; Type: FK CONSTRAINT; Schema: vehicle; Owner: user
--

ALTER TABLE ONLY vehicle.handover_records
    ADD CONSTRAINT "handover_records_vehicleId_fkey" FOREIGN KEY ("vehicleId") REFERENCES vehicle.vehicles(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: insurance_details insurance_details_vehicleId_fkey; Type: FK CONSTRAINT; Schema: vehicle; Owner: user
--

ALTER TABLE ONLY vehicle.insurance_details
    ADD CONSTRAINT "insurance_details_vehicleId_fkey" FOREIGN KEY ("vehicleId") REFERENCES vehicle.vehicles(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: rc_details rc_details_vehicleId_fkey; Type: FK CONSTRAINT; Schema: vehicle; Owner: user
--

ALTER TABLE ONLY vehicle.rc_details
    ADD CONSTRAINT "rc_details_vehicleId_fkey" FOREIGN KEY ("vehicleId") REFERENCES vehicle.vehicles(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: service_media service_media_serviceRecordId_fkey; Type: FK CONSTRAINT; Schema: vehicle; Owner: user
--

ALTER TABLE ONLY vehicle.service_media
    ADD CONSTRAINT "service_media_serviceRecordId_fkey" FOREIGN KEY ("serviceRecordId") REFERENCES vehicle.service_records(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: service_records service_records_vehicleId_fkey; Type: FK CONSTRAINT; Schema: vehicle; Owner: user
--

ALTER TABLE ONLY vehicle.service_records
    ADD CONSTRAINT "service_records_vehicleId_fkey" FOREIGN KEY ("vehicleId") REFERENCES vehicle.vehicles(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: vehicle_media vehicle_media_vehicleId_fkey; Type: FK CONSTRAINT; Schema: vehicle; Owner: user
--

ALTER TABLE ONLY vehicle.vehicle_media
    ADD CONSTRAINT "vehicle_media_vehicleId_fkey" FOREIGN KEY ("vehicleId") REFERENCES vehicle.vehicles(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: vehicle_models vehicle_models_oemId_fkey; Type: FK CONSTRAINT; Schema: vehicle; Owner: user
--

ALTER TABLE ONLY vehicle.vehicle_models
    ADD CONSTRAINT "vehicle_models_oemId_fkey" FOREIGN KEY ("oemId") REFERENCES vehicle.oems(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: vehicle_status_history vehicle_status_history_vehicleId_fkey; Type: FK CONSTRAINT; Schema: vehicle; Owner: user
--

ALTER TABLE ONLY vehicle.vehicle_status_history
    ADD CONSTRAINT "vehicle_status_history_vehicleId_fkey" FOREIGN KEY ("vehicleId") REFERENCES vehicle.vehicles(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: vehicles vehicles_modelId_fkey; Type: FK CONSTRAINT; Schema: vehicle; Owner: user
--

ALTER TABLE ONLY vehicle.vehicles
    ADD CONSTRAINT "vehicles_modelId_fkey" FOREIGN KEY ("modelId") REFERENCES vehicle.vehicle_models(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

